/* mak4 those bars like professor*/
    /*.endpoint {
      background: #eee;
      padding: 10px;
      margin: 5px 0;
      cursor: pointer;
      border: 1px solid #ccc;
    }
    .methods {
      margin-left: 10px;
    }
    .method {
      color: blue;
      margin-left: 5px;
      font-weight: bold;
    }*/